body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}
header{
background:#1f2933;
color:white;
padding:20px;
text-align:center;
}
nav{
background:#3b82f6;
padding:10px;
text-align:center;
}
nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}
.hero{
text-align:center;
padding:40px;
}
button{
padding:12px 25px;
background:#3b82f6;
color:white;
border:none;
border-radius:5px;
font-size:16px;
}
.cards{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
}
.card{
background:white;
padding:20px;
width:150px;
text-align:center;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
footer{
background:#1f2933;
color:white;
text-align:center;
padding:10px;
}